body {
  margin: 0;
  background: #111827;
  font-family: "Segoe UI", sans-serif;
}

.app {
  text-align: center;
  padding: 40px;
  color: white;

  h1 {
    font-size: 2.5rem;
  }

  p {
    opacity: 0.8;
  }
}